
/* importando a fomnte do google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* define as configuraçõs em todos elementos da página */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto;
}
/* criando variáveis */
:root{
    --cor01: red;
    --cor02: blue;
    --cor03: yellow;
    --cor04: gray;
}
/* formatando cabeçalho */
#geral{
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(247, 242, 183);
}
/* formatando o cabeçalho */
#cabecalho{
    background-color: rgb(50, 81, 255);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    height: 100%;
}
#logo{
    margin: 50px;
    font-size: 1.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* configurando menu na horizontal */
#menu ul{
    font-size: 0.8em;
    display: flex;
    margin: 10px;
    height: 10px;
    gap: 10px;
    list-style: none;
}
#menu ul img{
    width: 25px;
    height: 25px;
}
/* formatando a section pesquisa */
#pesquisa{
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 121);
    display: flex;
    justify-content: center;
    align-items: center ;
}
#pesquisa input{
    width: 400px;
    height: 43px;
    background-color: white;
    border-radius: 0px;
    padding: 5px;
    font-size: 1em;
}
#pesquisa input::placeholder{
    font-size: 1.3em;
    font-style: italic;
    color:rgb(107, 64, 0);
}
#menu-secoes{
    font-size: 1.2em;
    display: flex;
    margin: 10px;
    height: 10px;
    gap: 30px;
    list-style: none;
}
/* formatando os cards */
#cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px, 1fr));
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 5px;
}
.card{
    margin: 50px;
    width: 250px;
    min-height: 200px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1.5px solid;
    color: darkblue;
    border-radius: 50px;
    background-color: white;
}
.card:hover{
    transform: (translateY(-10px));
}
.card img{
    width: 150px;
    height: 200px;
    margin: 10px 0px;
    border-radius: 75px;
}
.card p{
    font-size: 1em;
    text-transform: uppercase;
    margin: 5px 0px;
    background-color: white;
}
.card .btn-carrinho{
    width: 200px;
    height: 30px;
    margin: 20px;
    border: none;
    border-radius: 8px;
    background-color: red;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
/* formatar o rodapé*/
#rodape{
    width: 100%;
    height: 250px;
    background-color: orange;
    margin: 20px 0px;
    padding: 10px;
    color: rgb(0, 67, 252);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* formatando links */
#menu a:link{
    font-size: 1.0em;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-decoration: none;
    color: orange;
    transition: color 0.3s ease;
}
/* formantando seções */
#secoes-produtos{
    width: 100%;
    min-height: 100px;
    background-color: aqua;
    margin: 20px 0px;
    padding: 5px;
}